* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(113, 85, 235) 0%,
    rgb(142, 218, 201) 100%
  );
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: linear-gradient(
    40deg,
    rgb(64, 156, 121) 0%,
    rgb(153, 11, 235) 100%
  );
  text-align: center;
  margin: 128px auto;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.formulario {
  margin-bottom: 32px;
}

.input_to-do {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.input_to-do::placeholder {
  color: #fbfbfb;
}

.boton_to-do{
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.input_editar{
  border: 2px solid #14e4ff;
  padding: 14px 32px 14px 16px;
  background: transparent;
  color: #fff;
  outline: none;
  
}


.boton_to-do_editar {
  border: none;
  background: linear-gradient(
    90deg,
    rgb(48, 178, 238) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
  text-transform: capitalize;
  color: #fff;
}

.to_do-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.do_fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.do_fila:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.do_fila:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(12, 255, 73) 0%,
    rgb(0, 242, 250) 100%
  );
}

.do_fila:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgb(17, 148, 255) 100%
  );
}

.iconos {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.icono-borrar {
  margin-right: 5px;
  color: #fff;
}

.icono-editar {
  color: #fff;
}

@media only screen and (max-width: 800px){
  *{
    font-size: auto;
  }
	.App{
		width: 50%;
	}
  .input_to-do{
    width: 30%;
  }

  .input_editar{
    width: 30%;
  }
}
